# Byte-compiled / optimized / DLL files
build
__pycache__
.idea
*.yaml

# logs
lightning_logs
output_logs
wandb
*.out
!info_*.out
*.err
*.egg-info
.github
.vscode
results
!results/*.py
tables

#checkpoints
checkpoints*
benchmark
comparison_plots/
!comparison_plots/*.py

# png files and other results
plots

# big data files
data

# cluster only
*.sh

# ignore notebooks (big files)
*.ipynb

dist