# Byte-compiled / optimized / DLL files
build
__pycache__
.idea

# logs
lightning_logs
output_logs
wandb
*.out
!info_*.out
*.err
*.egg-info
.github
.vscode
results
tables

#checkpoints
checkpoints*
benchmark

# png files and other results
plots

# big data files
data

# cluster only
*.sh

# ignore notebooks (big files)
*.ipynb

dist